@color0: #ffffff;
@color1: #FF9900;
@color2: #7014CC;
@color3: #19FF65;

@font-face {
    font-family: "SawRegular";
    src: data-uri("../fonts/SawRegular/SawRegular.eot");
    src: data-uri("../fonts/SawRegular/SawRegular.eot") format("embedded-opentype"),
        data-uri("../fonts/SawRegular/SawRegular.woff") format("woff"),
        data-uri("../fonts/SawRegular/SawRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "ArabicRegular";
    src: data-uri("../fonts/ArabicRegular/ArabicRegular.eot");
    src: data-uri("../fonts/ArabicRegular/ArabicRegular.eot") format("embedded-opentype"),
    data-uri("../fonts/ArabicRegular/ArabicRegular.woff") format("woff"),
    data-uri("../fonts/ArabicRegular/ArabicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "BoblicRegular";
    src: data-uri("../fonts/BoblicRegular/BoblicRegular.eot");
    src: data-uri("../fonts/BoblicRegular/BoblicRegular.eot") format("embedded-opentype"),
        data-uri("../fonts/BoblicRegular/BoblicRegular.woff") format("woff"),
        data-uri("../fonts/BoblicRegular/BoblicRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html {
  width: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: relative;
  font-size: 11pt;
  font-family: "BoblicRegular", Arial, sans-serif;
  letter-spacing: 0.02em;
  background-color: #000000;
  color: #ffffff;
  overflow: hidden;
}
.level-3 {
    font-family: "ArabicRegular", "SawRegular", Arial, sans-serif;
}
.moving {
    font-family: Arial, sans-serif;
}

.overlay {
    position: absolute;
    z-index: 10;
    background: #000000;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    &.loaded {
        .overlay-text {
            display: none;
        }
        .overlay-start {
            display: block;
        }
    }
}
.overlay-center {
    width: 100%;
    position: absolute;
    top: 20vw;
    z-index: 9999;
}
.overlay-start {
    display: none;
    padding: 1vw 0;
    width: 30%;
    background: @color1;
    color: @color0;
    margin: 0 auto;
    font-size: 10vw;
    text-align: center;
    cursor: pointer;
    &:hover {
        background: @color0;
        color: @color1;
    }
}
.overlay-text {
    width: 100%;
    text-align: center;
}
.wallpapered {
    width: 100%;
    height: 100%;
}

.screen {
    width: 100%;
    height: 100%;
}

.header {
    background-color: @color3;
    height: 20%;
    position: relative;
}
h1 {
    font-family: "SawRegular", Arial, sans-serif;
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    position: absolute;
    bottom: -10px;
    color: @color1;
    width: 100%;
}
.settings {
    background-color: @color2;
    color: @color1;
    height: 40%;

    &_wrap {
        width: 80%;
        padding: 8vh 0 0;
        margin: 0 auto;
    }
    &_filter {
        float: left;
    }
    &_difficulty {
        float: right;
    }
}
.radio {
    &_element {
        font-size: 3vw;
        display: block;
        text-align: center;
        padding: 10px 10px;
        margin: 0 0 5px;
        cursor: hand;
        cursor: pointer;

        &__checked {
            background: @color1;
            color: @color0;
            border-radius: 6px;
        }

        &__disabled {
            opacity: 0.3;
        }
    }
}
.mode {
    background-color: @color1;
    height: 40%;
    text-align: center;
    padding-top: 10vh;

    .mode_start {
        font-size: 2.3vw;
        margin: 0 1.3vw;
        border: 2px solid @color2;
        color: @color2;
        line-height: 14vw;
    }
}
.button {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: hand;
    cursor: pointer;
}

.game__content {
    width: 100%;
    height: 100%;
    position: relative;
}

.face {
    background-color: @color1;
    position: relative;
    height: 50%;
}
.faces {
    background-color: @color1;
    position: relative;
    height: 60%;
    overflow: hidden;
}
.name {
    background-color: @color2;
    position: relative;
    height: 40%;
}
.names {
    background-color: @color2;
    position: relative;
    height: 50%;
}

.faces__list_wrap {
    width: 100%;
    position: absolute;
    top: -600px;
    text-align: center;
}

.faces__list {
    width: 90%;
    margin: 0 auto;
    text-align: center;

    .element {
        display: inline-block;
        cursor: hand;
        cursor: pointer;
        height: 9vw;
        max-width: 9vw;
        overflow: hidden;
        font-size: 1.4vw;
        text-align: center;
        position: relative;

        .img_face {
            transform: scale(1, 1); // This is the enlarged size scale of the image.
            transition-duration: 300ms;
            transition-timing-function: ease-out;
        }
        .name_answer {
            position: absolute;
            width: 100%;
            top: 0;
            padding-top: 2.2vh;
        }

        &:hover .img_face {
            transform: scale(1.7, 1.7); // This is the enlarged size scale of the image.
            transition-duration: 300ms;
            transition-timing-function: ease-out;
        }

        &.answered {
            .img_face {
                transform: scale(1, 1);
                transition-duration: 0;
            }
            background: @color3;
            color: @color1;
            transform: none;
            filter: none;
            opacity: 1;
        }
        &.incorrect {
            background: @color2;
            color: @color0;
        }
    }
}

.names__table {
    width: 800px;
    margin: 0 auto 0;

    .element {
        box-sizing: border-box;
        width: 30%;
        float: left;
        padding: 3px 2px;
        margin: 3px 5px;

        &:hover {
            background: @color1;
            color: @color0;
        }
    }
}



.results {
    &__overlay {
        background: @color1;
        opacity: 0;
        z-index: 10;
        cursor: hand;
        cursor: pointer;
    }
    &__content {
        z-index: 20;
    }
    &__content, &__overlay {
        position: absolute;
        top: 0;
        left: 0;
    }
    &_text {
        margin: 21vh 0 0;
        font-size: 4vh;
        text-align: center;
        color: @color2;
        &__correct {
            font-size: 7vw;
        }
        &__all {
            font-size: 7vw;
        }
    }
    &_top {
        text-align: center;
        &__header {
            font-size: 5vw;
            text-align: center;
            margin: 2vh 0;
        }
        &__element {
            vertical-align: top;
            display: inline-block;
            width: 17vw;
            margin: 0 1vw;
            text-align: center;
        }
        &__face {
            height: 15vw;
        }
        &__name {
            font-size: 2.4vh;
            color: @color2;
            margin: 1vh 0;
        }
        &__position {
            font-size: 1.5vh;
            line-height: 2.1vh;
        }
    }
    &__footer {
        margin: 10vh 0 0;
        text-align: center;
        font-size: 2vh;
        color: @color3;
    }
}

.name_question {
    font-size: 5vw;
    text-align: center;
    position: relative;
    top: 40%;
    color: @color1;
}
.skip {
    color: @color0;
    font-size: 3vw;
    position: absolute;
    right: 6vw;
    top: 6vh;
    cursor: hand;
    cursor: pointer;
    border-bottom: 1px dashed;

    &:hover {
        color: @color3;
    }
}

.timer {
    position: absolute;
    bottom: -3vw;
    width: 100%;
    font-size: 7vh;
    margin-top: -1vh;
    text-align: center;
}

.img_face {
    height: 9vw;
}

.pattern {
    background-repeat: repeat;
}

.generate-patterns(@n, @i: 1) when (@i =< @n) {
    .pattern-@{i} {
        background-image: data-uri('../img/patterns/@{i}.png');
    }
    .generate-patterns(@n, (@i + 1));
}
.generate-patterns(2);

.pattern-person {
    background-image: data-uri('../img/pattern-persons.png');
}

.filter-1 {
    filter: blur(3px);
    filter: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+DQoJPGZpbHRlciBpZD0iYmx1ciI+DQoJCTxmZUdhdXNzaWFuQmx1ciBzdGREZXZpYXRpb249IjMiIC8+DQoJPC9maWx0ZXI+DQo8L3N2Zz4=#blur');
}
.filter-2 {
    filter: invert(80%);
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feComponentTransfer><feFuncR type=\'table\' tableValues=\'1 0\'/><feFuncG type=\'table\' tableValues=\'1 0\'/><feFuncB type=\'table\' tableValues=\'1 0\'/></feComponentTransfer></filter></svg>#invert")
}
.filter-3 {
    filter: sepia(100%);
}
.filter-4 {
    filter: saturate(140%);
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'saturate\'><feComponentTransfer><feFuncR tableValues=\'1 .33 .33\' type=\'table\'/><feFuncG tableValues=\'.33 1 .33\' type=\'table\'/><feFuncB tableValues=\'.33 .33 1\' type=\'table\'/></feComponentTransfer></filter></svg>#saturate")
}
.filter-5 {
    filter: hue-rotate(170deg);
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'hue-rotate\'><feComponentTransfer><feFuncR type=\'table\' tableValues=\'1 0\'/><feFuncG type=\'table\' tableValues=\'1 0\'/><feFuncB type=\'table\' tableValues=\'1 0\'/></feComponentTransfer></filter></svg>#hue-rotate")
}
.filter-6 {
    filter: grayscale(100%);
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}
.filter-7 {
    opacity: 0.5;
}
.filter-8 {
    filter: brightness(20%);
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'brightness\'><feComponentTransfer><feFuncR type=\'linear\' slope=\'10\'/><feFuncG type=\'linear\' slope=\'10\'/><feFuncB type=\'linear\' slope=\'10\'/></feComponentTransfer></filter></svg>#brightness")
}
.filter-9 {
    filter: contrast(50%);
    filter: url("data:image/svg+xml;utf8,<svg version=\'1.1\' xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'contrast\'><feGaussianBlur stdDeviation=\'0.5\'/><feComponentTransfer><feFuncR type=\'discrete\' tableValues=\'0 .5 1 1\'/><feFuncG type=\'discrete\' tableValues=\'0 .5 1\'/><feFuncB type=\'discrete\' tableValues=\'0\'/></feComponentTransfer></filter></svg>#contrast");
}

.rotate-1 {
    transform: rotate(90deg);
}
.rotate-2 {
    transform: rotate(180deg);
}
.rotate-3 {
    transform: rotate(270deg);
}

.hided {
    display: none;
}
.invisible {
    visibility: hidden;
}
.clear {
    clear: both;
}
