@color0: #ffffff;
@color1: #FF9900;
@color2: #7014CC;
@color3: #19FF65;


html {
  width: 100%;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  position: relative;
  font-size: 11pt;
  font-family: "Segoe WP";
  letter-spacing: 0.02em;
  background-color: #000000;
  color: #ffffff;
}

.screen {
    width: 100%;
    height: 100%;
    min-width: 1000px;
    min-height: 600px;
}

.header {
    background-color: @color3;
    height: 20%;
}
h1 {
    font-size: 4em;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
}
.settings {
    background-color: @color2;
    color: @color1;
    height: 40%;

    &_wrap {
        width: 600px;
        padding: 10vh 0 0;
        margin: 0 auto;
    }
    &_filter {
        float: left;
    }
    &_difficulty {
        float: right;
    }
}
.radio {
    &_element {
        font-size: 1.4em;
        display: block;
        text-align: center;
        padding: 10px 10px;
        margin: 0 0 5px;
        cursor: pointer;

        &_checked {
            background: @color1;
            color: @color0;
            border-radius: 6px;
        }
    }
}
.mode {
    background-color: @color1;
    height: 40%;
    text-align: center;
    padding-top: 10vh;

    .mode_start {
        font-size: 1.6em;
        margin: 0 20px;
        border: 2px solid @color2;
        color: @color2;
    }
}
.button {
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

.face {
    height: 30%;
    margin-top: 10vh;
    background-color: @color1;
}
.names {
    height: 70%;
    background-color: @color2;
}

.pattern {
    background-repeat: repeat;
}

.generate-patterns(@n, @i: 1) when (@i =< @n) {
    .pattern-@{i} {
        background-image: url('../img/patterns/@{i}.png');
    }
    .generate-patterns(@n, (@i + 1));
}
.generate-patterns(2);


.hided {
    display: none;
}
.clear {
    clear: both;
}
